src/main/mule/test-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a5aa5b9-f9bb-45aa-b0a1-32baf7516aad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-muleFlow" doc:id="8056f770-5218-4d99-bc8d-020cd870316d" >
		<http:listener doc:name="Listener" doc:id="9d5e16dc-1ee5-4be1-baea-acd2df6d01ff" path="/api/testmule" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["Hi"]' doc:name="Set Payload" doc:id="ffdf7c80-44ae-4490-accb-ba7a53ebc58c" />
	</flow>
</mule>
